<button pButton type="button" class="p-button-outlined ml-2" icon="pi pi-info" (click)="showDialog()"></button>
<p-dialog header="R.Systems" i18n-header [modal]="true" [draggable]="false" [(visible)]="dialogIsShowed">
  <div class="content">
    <p>Copyright © {{getYearsRange()}} Łukasz Rydzkowski</p>
    <p><a href="https://lukaszrydzkowski.pl" target="_blank">https://lukaszrydzkowski.pl</a></p>
    <p><a href="mailto: lukasz.rydzkowski@gmail.com">lukasz.rydzkowski@gmail.com</a></p>
  </div>
</p-dialog>
