@import "../../../../shared/table/css/table.css";

.title {
  flex-grow: 1;
}
.vertical-separator {
  display: none;
}
.buttons {
  display: none;
}
.id-col {
  width: 8rem;
}
.login-col {
  width: 21rem;
}
.email-col {
  width: 21rem;
}
.firstName-col {
  width: 21rem;
}
.lastName-col {
  width: 21rem;
}
.roles-col {
  width: 21rem;
}

@media all and (min-width: 710px) {
  .title {
    flex-grow: unset;
  }
  .vertical-separator {
    display: block;
  }
  .menu-button {
    display: none;
  }
  .buttons {
    display: block;
  }
}