<div class="card relative p-2 sm:p-3">
  <div class="header flex align-items-center mb-2">
    <h2 class="title" i18n>Users</h2>
    <div class="ml-2 sm:ml-3 mr-2 sm:mr-3 vertical-separator"></div>
    <button pButton
            type="button"
            class="menu-button p-button-outlined"
            icon="pi pi-ellipsis-h"
            (click)="tableMenu.toggle($event)"></button>
    <div class="buttons">
      <button pButton
              type="button"
              label="Add user"
              class="p-button-outlined p-button-success mr-2"
              icon="pi pi-plus"
              (click)="redirectToAddUserForm()"
              pTooltip="Add new user"
              tooltipPosition="top"
              i18n-label
              i18n-pTooltip></button>
      <button pButton
              type="button"
              label="Delete user"
              class="p-button-outlined p-button-danger mr-2"
              icon="pi pi-trash"
              (click)="onDeleteButtonClick()"
              pTooltip="Delete existing user"
              tooltipPosition="top"
              i18n-label
              i18n-pTooltip></button>
      <button pButton
              type="button"
              label="Clear state"
              class="p-button-outlined"
              icon="pi pi-filter-slash"
              (click)="clear(dt)"
              pTooltip="Clear table state"
              tooltipPosition="top"
              i18n-label
              i18n-pTooltip></button>
    </div>
  </div>
  <p-tieredMenu #tableMenu [model]="tableMenuItems" [popup]="true" appendTo="body"></p-tieredMenu>
  <div #tableContainer class="relative">
    <p-table  #dt
              tableStyleClass="custom-table"
              [columns]="cols"
              [value]="users"
              styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
              [paginator]="true"
              [rowsPerPageOptions]="[10,25,50]"
              [rows]="50"
              sortMode="multiple"
              [multiSortMeta]="[{field: 'userId', order: 1}]"
              [scrollable]="true"
              [scrollHeight]="tableHeightCalculator.tableMaxHeightPx + 'px'"
              selectionMode="multiple"
              [(selection)]="selectedUsers"
              [metaKeySelection]="true"
              [(contextMenuSelection)]="selectedUserForContextMenu"
              [contextMenu]="tableContextMenu"
              dataKey="userId">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="checkbox-col">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="col.className">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <p-columnFilter [type]="col.filterType"
                            [field]="col.field"
                            display="menu"
                            class="ml-2"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="row" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="row">
          <td class="checkbox-col">
            <p-tableCheckbox [value]="row" [index]="rowIndex"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns" [class]="col.className">
            <ng-container [ngSwitch]="col.type">
              <span *ngSwitchCase="'text'">{{row[col.field]}}</span>
              <span *ngSwitchCase="'roles'">{{row[col.field] | userRoles}}</span>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length" i18n>No users</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-contextMenu #tableContextMenu [model]="tableContextMenuItems" appendTo="body"></p-contextMenu>
  <loading-animation [loadingAnimationKey]="loadingAnimationKey"></loading-animation>
</div>