.id-col {
  width: 115px;
}
.login-col {
  width: 300px;
}
.email-col {
  width: 300px;
}
.firstName-col {
  width: 300px
}
.lastName-col {
  width: 300px;
}
.roles-col {
  width: 250px;
}