<p-dialog header="Password change" i18n-header [modal]="true" [draggable]="false" [(visible)]="visible">
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" sharedFormAutofocus>
      <div class="formgrid grid">
        <div class="field col-12">
          <label for="currentPassword" i18n>Current password <span class="required">*</span></label>
          <input  id="currentPassword"
                  type="password"
                  formControlName="currentPassword"
                  pPassword
                  class="w-full"
                  [feedback]="false">
          <ng-container *ngIf="formHandler.isFieldInvalid(form, 'currentPassword')">
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'currentPassword', 'required')"
                    id="currentPassword-help"
                    class="p-error"
                    i18n>
              Current password is required.
            </small>
          </ng-container>
        </div>
        <div class="field col-12">
          <label for="newPassword" i18n>New password <span class="required">*</span></label>
          <input  id="newPassword"
                  type="password"
                  formControlName="newPassword"
                  pPassword
                  class="w-full"
                  [feedback]="false">
          <ng-container *ngIf="formHandler.isFieldInvalid(form, 'newPassword')">
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'newPassword', 'required')"
                    id="newPassword-help"
                    class="p-error"
                    i18n>
              New password is required.
            </small>
          </ng-container>
        </div>
        <div class="field col-12">
          <label for="newPasswordRepetition" i18n>Repeat new password <span class="required">*</span></label>
          <input  id="newPasswordRepetition"
                  type="password"
                  formControlName="newPasswordRepetition"
                  pPassword
                  class="w-full"
                  [feedback]="false">
          <ng-container *ngIf="formHandler.isFieldInvalid(form, 'newPasswordRepetition')">
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'newPasswordRepetition', 'required')"
                    id="newPasswordRepetition-help"
                    class="p-error"
                    i18n>
              New password repetition is required.
            </small>
          </ng-container>
        </div>
      </div>
      <div class="mt-3">
        <button pButton
                type="submit"
                label="Save"
                i18n-label
                class="p-button-success p-button-outlined"></button>
      </div>
    </form>
  </div>
</p-dialog>