<div class="content mx-auto">
  <p-card header="Login" i18n-header>
    <form [formGroup]="form" (ngSubmit)="submit()" sharedFormAutofocus>
      <div class="formgrid grid">
        <div class="field col-12">
          <label for="login" i18n>Login</label>
          <input id="login" type="text" pInputText formControlName="login" class="w-full">
          <ng-container *ngIf="formHandler.isFieldInvalid(form, 'login')">
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'login', 'required')"
                    class="p-error"
                    i18n>
              Enter your login.
            </small>
          </ng-container>
        </div>
        <div class="field col-12">
          <label for="password" i18n>Password</label>
          <input id="password" type="password" pPassword formControlName="password" class="w-full" [feedback]="false">
          <ng-container *ngIf="formHandler.isFieldInvalid(form, 'password')">
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'password', 'required')"
                    class="p-error"
                    i18n>
              Enter your password.
            </small>
          </ng-container>
        </div>
      </div>
      <div class="mt-3">
        <button pButton type="submit" label="Sign in" i18n-label class="p-button-success p-button-outlined"></button>
      </div>
      <div class="form-loading-curtain" *ngIf="isProcessing" pFocusTrap>
        <p-progressSpinner styleClass="form-loading-animation" strokeWidth="2" animationDuration=".6s"></p-progressSpinner>
      </div>
    </form>
  </p-card>
</div>