#page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  background-color: #F8F9FA;
  flex-grow: 1;
}
#content {
  flex-grow: 1;
  max-width: 100%;
}
shared-breadcrumb {
  flex-grow: 1;
}
.router-outlet-container {
  flex-grow: 1;
}