<div class="content mx-auto">
  <p-card header="Password change" i18n-header>
    <form [formGroup]="form" (ngSubmit)="submit()" sharedFormAutofocus>
      <div class="formgrid grid">
        <div class="field col-12">
          <label for="currentPassword" i18n>Current password</label>
          <input  id="currentPassword"
                  type="password"
                  formControlName="currentPassword"
                  pPassword
                  class="w-full"
                  [feedback]="false">
          <ng-container *ngIf="formHandler.isFieldInvalid(form, 'currentPassword')">
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'currentPassword', 'wrongPassword')"
                    id="currentPassword-help"
                    class="p-error"
                    i18n>
              Current password is wrong.
            </small>
          </ng-container>
        </div>
        <div class="field col-12">
          <label for="newPassword" i18n>New password <span class="required">*</span></label>
          <input  id="newPassword"
                  type="password"
                  formControlName="newPassword"
                  pPassword
                  class="w-full"
                  [feedback]="false">
          <ng-container *ngIf="formHandler.isFieldInvalid(form, 'newPassword')">
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'newPassword', 'required')"
                    id="newPassword-help"
                    class="p-error"
                    i18n>
              New password is required.
            </small>
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'newPassword', 'minlength')"
                    id="newPassword-help"
                    class="p-error"
                    i18n>
              New password cannot be shorter than {{newPasswordMinLength}} chars.
            </small>
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'newPassword', 'maxlength')"
                    id="newPassword-help"
                    class="p-error"
                    i18n>
              New password cannot be longer than {{newPasswordMaxLength}} chars.
            </small>
          </ng-container>
        </div>
        <div class="field col-12">
          <label for="repeatedNewPassword" i18n>Repeat new password <span class="required">*</span></label>
          <input  id="repeatedNewPassword"
                  type="password"
                  formControlName="repeatedNewPassword"
                  pPassword
                  class="w-full"
                  [feedback]="false">
          <ng-container *ngIf="formHandler.isFieldInvalid(form, 'repeatedNewPassword')">
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'repeatedNewPassword', 'required')"
                    id="repeatedNewPassword-help"
                    class="p-error"
                    i18n>
              New password repetition is required.
            </small>
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'repeatedNewPassword', 'minlength')"
                    id="repeatedNewPassword-help"
                    class="p-error"
                    i18n>
              New password repetition cannot be shorter than {{newPasswordMinLength}} chars.
            </small>
            <small  *ngIf="formHandler.fieldHasValidationError(form, 'repeatedNewPassword', 'maxlength')"
                    id="repeatedNewPassword-help"
                    class="p-error"
                    i18n>
              New password repetition cannot be longer than {{newPasswordMaxLength}} chars.
            </small>
          </ng-container>
        </div>
      </div>
      <div class="mt-3">
        <button pButton
                type="submit"
                label="Save"
                i18n-label
                class="p-button-success p-button-outlined"></button>
      </div>
      <div class="form-loading-curtain" *ngIf="isProcessing" pFocusTrap>
        <p-progressSpinner  styleClass="form-loading-animation"
                            strokeWidth="2"
                            animationDuration=".6s"></p-progressSpinner>
      </div>
    </form>
  </p-card>
</div>