<div class="container flex justify-content-center flex-wrap">
  <dashboard-tile linkUrl="/administration/users"
                  i18n-linkUrl
                  header="Users"
                  i18n-header
                  description="Functionalities connected with managing application users."
                  i18n-description></dashboard-tile>
  <dashboard-tile linkUrl="/lexica/main"
                  i18n-linkUrl
                  header="Lexica"
                  i18n-header
                  description="English vocabulary learning web application."
                  i18n-description></dashboard-tile>
</div>