header {
  background-color: #ffffff;
  border-bottom: 1px solid #DEE2E6;
  box-sizing: border-box;
  min-height: 60px;
  width: 100%;
}
h1 {
  color: #333333;
  font-family: Roboto, Helvetica;
  font-size: 1.8rem;
  margin-bottom: 2px;
}
nav {
  flex-grow: 1;
}
.big {
  display: none;
}
.small {
  display: inline-flex;
}

@media all and (min-width: 1000px) and (min-height: 350px) {
  .big {
    display: inline-flex;
  }
  .small {
    display: none;
  }
}