<header class="flex sm:align-items-center flex-column sm:flex-row pt-2 sm:pt-0">
  <h1 class="ml-3 mr-3">R.Systems</h1>
  <nav>
    <p-menubar [model]="menuItems" styleClass="header-menubar">
      <button *ngIf="userIsLogged" pButton type="button" class="p-button-outlined ml-2" icon="pi pi-user"></button>
      <core-app-menu></core-app-menu>
      <button *ngIf="userIsLogged"
              pButton
              type="button"
              label="Logout"
              class="p-button-outlined p-button-danger ml-2 big"
              icon="pi pi-sign-out"
              i18n-label
              (click)="logout()"></button>
      <button *ngIf="userIsLogged"
              pButton
              type="button"
              class="p-button-outlined p-button-danger ml-2 small"
              icon="pi pi-sign-out"
              i18n-label
              (click)="logout()"></button>
    </p-menubar>
  </nav>
</header>