<shared-breadcrumb></shared-breadcrumb>
<div class="container p-d-flex p-mt-2 p-mt-sm-3 p-jc-center p-flex-wrap">
  <dashboard-tile linkUrl="/administration/users"
                  i18n-linkUrl
                  header="Users"
                  i18n-header
                  description="Functionalities connected with managing application users."
                  i18n-description></dashboard-tile>
  <dashboard-tile linkUrl="/lexica/main"
                  i18n-linkUrl
                  header="Lexica"
                  i18n-header
                  description="English vocabulary learning web application."
                  i18n-description></dashboard-tile>
</div>