.main-container {
  height: 100%;
  max-width: 100%;
  overflow: auto;
}
.col-fixed {
  width: 170px;
}
.card {
  height: 100%;
}
.result-content {
  height: 100%;
  position: relative;
  width: 100%;
}
.jsonContainer {
  overflow: auto;
}
pre {
  font-family: Consolas, monospace;
}

@media all and (min-width: 800px) {
  .col-fixed {
    width: 250px;
  }
}