<div @slideRightLeft *ngIf="leftSidePanelService.isOpen" class="left-side-panel p-pt-1 p-pt-sm-3">
  <div class="content-wrapper p-d-flex p-flex-column">
    <div class="buttons-container p-p-3">
      <button pButton
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-secondary"
              (click)="closePanel()"></button>
    </div>
    <div class="content p-pt-3">
      <p-tabView>
        <p-tabPanel header="Details" i18n-header>
           Content 1
        </p-tabPanel>
        <p-tabPanel header="Sth different" i18n-header>
            Content 2
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
