<div class="content p-mx-auto">
  <p-card header="Login" i18n-header>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="login" i18n>Login</label>
        <input id="login" type="text" pInputText>
      </div>
      <div class="p-field p-col-12">
        <label for="password" i18n>Password</label>
        <input id="password" type="text" pPassword>
      </div>
    </div>
    <div class="p-mt-3">
      <button pButton pRipple type="button" label="Sign in" i18n-label class="p-button-success p-button-outlined"></button>
    </div>
  </p-card>
</div>