<div class="main-container flex flex-row flex-nowrap align-items-stretch grid grid-nogutter">
  <div class="col-fixed mr-1 sm:mr-3">
    <div class="card p-3">
      <div class="flex flex-column">
        <button pButton
                type="button"
                label="Clear result"
                (click)="refreshResult()"
                class="mb-4"></button>
        <button pButton
                type="button"
                label="Generate random users list"
                (click)="generateRandomUsersList()"></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card p-3">
      <pre class="m-0">{{result}}</pre>
    </div>
  </div>
</div>
