<div #container class="container overflow-y-auto overflow-x-hidden">
  <p *ngIf="users.length === 0" i18n>No selected users.</p>
  <div *ngFor="let user of users">
    <div class="grid grid-nogutter">
      <div class="col-fixed"><p class="font-bold line-height-3">{{labels[titleProperty]}}:</p></div>
      <div class="col flex align-items-end"><p class="font-bold line-height-3">{{user[titleProperty]}}</p></div>
    </div>
    <div *ngFor="let property of properties" class="grid grid-nogutter">
      <div class="col-fixed"><p class="line-height-3">{{labels[property]}}:</p></div>
      <div class="col flex align-items-end"><p class="line-height-3">{{user[property]}}</p></div>
    </div>
    <p-divider></p-divider>
  </div>
</div>