<div class="content mx-auto">
  <p-card header="User" i18n-header>
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="login" i18n>Login</label>
        <input id="login" type="text" pInputText class="w-full">
      </div>
      <div class="field col-12">
        <label for="email" i18n>Email</label>
        <input id="email" type="text" pInputText class="w-full">
      </div>
      <div class="field col-12">
        <label for="firstName" i18n>First name</label>
        <input id="firstName" type="text" pInputText class="w-full">
      </div>
      <div class="field col-12">
        <label for="lastName" i18n>Last name</label>
        <input id="lastName" type="text" pInputText class="w-full">
      </div>
      <div class="field col-12">
        <label for="password" i18n>Password</label>
        <input id="password" type="text" pInputText class="w-full">
      </div>
    </div>
    <div class="mt-3">
      <button pButton
              type="button"
              label="Save"
              i18n-label
              class="p-button-success p-button-outlined mr-2"></button>
      <button pButton
              type="button"
              label="Back"
              i18n-label
              class="p-button-outlined"
              [routerLink]="[usersLink]"></button>
    </div>
  </p-card>
</div>